body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    color: #b8b8b8;
    background: #1a1d45;
    font-family: 'Roboto Mono';
}

div {
    border-width: 2px;
}

ul {
    padding: 0 5vw;
}

button > h2 {
    margin: 0;
}

#about, #games {
    padding: 5vh 3vh;
    border-bottom-style: solid;
}


#cv {
    padding: 0 3vh;
    display: flex;
    flex-direction: column;
}

a {
    color: #e26e00;
}

header {
    height: 10vh;
    top: 0;
    width: 100%;
    background: #1a1d45;
    position: fixed;
    transition: top 0.2s ease-in-out;
    border-bottom-style: solid;
}

#header-items {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.nav-up {
    top: -11vh;
}

.nav-down {
    top: 0;
}

main {
    margin-top: 10vh;
    height: 2000px;
}

.header-button {
    background-color: #1a1d45;
    color: #b8b8b8;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    width: 25%;
    transition: 0.2s ease-in-out;
}

.header-button:hover {
    background-color: #b8b8b8;
    color: #1a1d45;
    transition: 0.2s ease-in-out;
}

.iframe-placeholder {
    height: 10vh;
    width: 20%;
    background-color: #c00909;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.iframe-placeholder:hover {
    background-color: #0949c0;
    color: #000000;
    transition: 0.2s ease-in-out;
}

.person-details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.person-details-item {
    display: flex;
    align-items: center;
    justify-items: center;
    padding-bottom: 10px;
    margin: 0;
}

#person-skills {
    display: flex;
}

.person-skills {
    display: grid;
    grid-template-columns: 100px auto;
    row-gap: 2vh;
    padding: 5vh 0;
    align-items: center;
}

.person-skills > .icon {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.person-skills > .icon > img {
    max-width: 15%;
    height: auto;
    padding: 0 1vw;
}



.person-experience {
    margin: 5vh 0;
    padding-bottom: 5vh;
}

.person-experience > .description {
    padding-top: 5px;
    padding-bottom: 5px;
}


.person-experience > .date-and-place {
    color: #797676;
}


#person-info {
    display: flex;
    justify-content: space-evenly;
    margin: 2vh 0;
}

#person-info-0 {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#image-me {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.person-experience-institution {
    display: flex;
    align-items: center;
}

.person-experience,
.games {
    border-bottom-style: solid;
}


.games {
    padding: 5vh 0;
}

.games > div {
    display: flex;
    justify-content: center;
}

.person-details-item > .icon {
    padding-right: 10px;
}


.person-experience-institution > .icon {
    display: flex;
    align-content: center;
    padding: 0 10px;
}

#person-name {
    font-size: larger;
}


@media screen and (max-width: 500px) {
    #person-skills {
        flex-direction: column;
    }
    
    .person-skills {
        border-top-style: solid;
    }
    .person-skills:last-child {
        border-bottom-style: solid;
    }
}

@media screen and (min-width: 501px) {
    #person-skills {
        flex-direction: row;
    }

    .person-skills {
        width: 50%;
        border-bottom-style: solid;
        border-top-style: solid;
    }

    .person-skills:first-child {
        border-right-style: solid;
        border-right-width: 1px;
        padding-right: 5vw;
    }
    .person-skills:last-child {
        border-left-style: solid;
        border-left-width: 1px;
        padding-left: 5vw;
    }
}