#about-container {
    border-bottom-style: solid;
}

#cv-container {
    padding: 0 3vh;
    display: flex;
    flex-direction: column;
}

#games-container {
    padding: 0 3vh 5vh;
    border-bottom-style: solid;
}

#header-button-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#person-info-container {
    display: flex;
    justify-content: space-evenly;
    margin: 2vh 0;
}

#person-job {
    font-size: 3vh;
}

#person-name {
    font-size: 5vh;
}

#person-skills-container {
    display: flex;
}


.games > div {
    display: flex;
    justify-content: center;
}


.person-contact-item > .icon {
    padding-right: 10px;
}

.person-experience-institution > .icon {
    display: flex;
    align-content: center;
    padding: 0 10px;
}

.person-experience > .date-and-place {
    color: #797676;
}

.person-experience > .description {
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.person-experience,
.games {
    border-bottom-style: solid;
}

.games {
    padding: 5vh 0;
}

.header-button {
    background-color: #1a1d45;
    color: #b8b8b8;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    width: 25%;
    transition: 0.2s ease-in-out;
}

.header-button:hover {
    background-color: #b8b8b8;
    color: #1a1d45;
    transition: 0.2s ease-in-out;
}

.nav-up {
    top: -11vh;
}

.nav-down {
    top: 0;
}

#overlay {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease-in-out;
    z-index: 2;
}

.panel {
    height: 80vh;
    width: 50vw;
    color: #1a1d45;
    background: #b8b8b8;
    border-radius: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: 0.2s ease-in-out;
}

.panel-text {
    padding: 2vh 4vw;
}

.panel-text > p{
    padding: 0;
    font-size: 3vh;
}

.panel-buttons {
    display: flex;
    justify-content: space-evenly;
}

.panel-buttons > a {
    width: 15vw;
    height: 5vh;
    background-color: #1a1d45;
    color: #b8b8b8;
    float: left;
    border: none;
    text-decoration: inherit;
    text-align: center;
    line-height: 5vh;
    outline: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.person-contact {
    display: flex;
    justify-content: space-evenly;
}

.person-contact-item {
    display: flex;
    align-items: center;
    justify-items: center;
    padding-bottom: 10px;
    margin: 0;
}

.person-experience-institution {
    display: flex;
    align-items: center;
}

.person-experience {
    padding: 5vh 0;
}

.person-info {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.person-skills {
    display: grid;
    grid-template-columns: 30% 50%;
    row-gap: 2vh;
    padding: 5vh 0;
    align-items: center;
}

.person-skills > .name {
    text-align: end;
    padding-right: 2vw;
}

.person-skills > .icon {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.person-skills > .icon > img {
    padding: 0 1vw;
}

a {
    color: #e26e00;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    color: #b8b8b8;
    background: #1a1d45;
    font-family: 'Roboto Mono';
}

button {
    font-family: 'Roboto Mono';
    font-weight: bolder;
}

div {
    border-width: 2px;
}

footer {
    height: auto;
    background-color: #b8b8b8;
    color: #1a1d45;
}

h2 {
    margin: 0;
}

header {
    height: 10vh;
    top: 0;
    width: 100%;
    background: #1a1d45;
    position: fixed;
    transition: top 0.2s ease-in-out;
    border-bottom-style: solid;
}

img {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

main {
    margin-top: 10vh;
    height: auto;
}

ul {
    padding: 0 5vw;
}

@media screen and (max-width: 1200px) {
    #person-image {
        height: auto;
        width: 30vw;
        border-radius: 50%;
    }
    
    #about-container {
        padding: 1vh 3vh 5vh;
    }

    #person-skills-container {
        flex-direction: column;
    }

    .icon > img,
    .icon > a > img {
        height: auto;
        width: 6vw;
    }
    
    .person-contact {
        flex-direction: column;
    }

    .games > div > a > img {
        height: auto;
        width: 50vw;
    }

    .person-skills {
        border-top-style: solid;
    }

    .person-skills:last-child {
        border-bottom-style: solid;
    }

    .panel-buttons > a {
        width: 30vw;
        height: 10vh;
        line-height: 10vh;
        margin: 2vh 0;
    }

    .panel-buttons {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    body {
        font-size: 2vh;
    }
    
    h2 {
        font-size: 3vh;
    }
}

@media screen and (min-width: 1201px) and (max-width: 2000px) {
    #about-container {
        padding: 3vh 3vw;
    }

    #person-image {
        height: auto;
        width: 20vw;
        border-radius: 50%;
    }

    .games > div > a > img {
        height: auto;
        width: 30vw;
    }
    
    .icon > img,
    .icon > a > img {
        height: auto;
        width: 4vw;
    }
    
    body {
        font-size: 3vh;
    }
    
    h2 {
        font-size: 3vh;
    }
}

@media screen and (min-width: 1201px) {
    #person-skills-container {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .person-contact {
        flex-direction: row;
    }

    .person-skills {
        min-width: 50%;
        border-bottom-style: solid;
        border-top-style: solid;
    }

    .person-skills:first-child {
        border-right-style: solid;
        border-right-width: 1px;
    }
    .person-skills:last-child {
        border-left-style: solid;
        border-left-width: 1px;
    }
}


@media screen and (min-width: 2001px) {    
    #about-container,
    #games-container,
    #cv-container {
        padding: 3vh 20vw;
    }

    #person-image {
        height: auto;
        width: 15vw;
        border-radius: 50%;
    }

    #person-name {
        font-size: 5vh;
    }

    #person-experience {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto auto;
        grid-auto-flow: column;
    }
    
    .games > div > a > img {
        height: auto;
        width: 20vw;
    }

    .icon > img,
    .icon > a > img {
        width: 3vw;
    }

    .person-experience {
        min-width: 50%;
    }

    .edu {
        border-right-style: solid;
        border-right-width: 1px;
        padding-right: 2vw;
    }
    
    .job {
        border-left-style: solid;
        border-left-width: 1px;
        padding-left: 2vw;
    }

    body {
        font-size: 2vh;
    }
    
    h2 {
        font-size: 2vh;
    }
}

@media screen and (max-width: 1000px) {
    .panel {
        height: 60vh;
        width: 80vw;
        color: #1a1d45;
        background: #b8b8b8;
        border-radius: 2vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        transition: 0.2s ease-in-out;
    }
    
    .panel-text {
        padding: 2vh 4vw;
    }
    
    .panel-text > p{
        padding: 0;
        font-size: 2vh;
    }
    
    .panel-buttons > a {
        width: 30vw;
        height: 5vh;
        font-size: 2vh;
        line-height: 5vh;
    }    
}