.about-contact {
    display: grid;
    border-top-style: solid;
    padding: 2rem 0;
    @include media("<=tablet")  {
        grid-template:  
        "a"
        "b"
        "c"
        "d";
    }
    @include media(">tablet", "<=desktop")  {
        grid-template:  
        "a b"
        "c d";
    }
    @include media(">desktop") {
        grid-template:  
            "a b c d";
    }
    
    .about-contact-item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 2vh 0;
        
    }
    
    .about-contact-item-link {
        padding-left: #{"max(1vh, 1vw)"};
    }
}
