#about {
    // when the height of <#about> changes, the height of <header> needs to change as well
    min-height: 90vh;
    display: flex;
    flex-direction: column;
}

.about-text {
    display: flex;
    align-items: center;
    max-height: 100%;
    flex: 1 0 auto;
}

.about-contact {
    display: grid;
    border-bottom-style: solid;
    @include media("<=tablet")  {
        grid-template:  
        "a"
        "b"
        "c"
        "d";
    }
    @include media(">tablet", "<=desktop")  {
        grid-template:  
        "a b"
        "c d";
    }
    @include media(">desktop") {
        grid-template:  
            "a b c d";
    }
    
    .about-contact-item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 2vh 0;
        
    }
    
    .about-contact-item-link {
        padding-left: #{"max(1vh, 1vw)"};
    }
}
