#cv-container
{
    display: flex;
    flex-direction: column;
    border-top-style: solid;
    @include media('<=tablet') { padding: #{'min(1vh, 1vw)'} 10vw 5vh;  }
    @include media('>tablet', '<=desktop') { padding: #{'min(1vh, 1vw)'} 15vw 5vh;  }
    @include media('>desktop') { padding: #{'min(1vh, 1vw)'} 20vw 0vh; }
}

#person-info-container {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 0;
    .person-info {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    #person-image {
        width: #{'min(30vh, 30vw)'};
        height: auto;
        border-radius: 50%;
    }

    #person-name {
        font-size: $xx-big-font;
        text-align: center;
    }

    #person-job {
        font-size: $medium-font;
        text-align: center;
    }
}


.person-experience {
    padding: 5vh 0;
    border-bottom-style: solid;

    .date-and-place {
        color: #797676;
    }
    .description {
        padding-top: 2vh;
        padding-bottom: 2vh;
    }
}

.person-experience.edu,
.person-experience.job {
    border-top-style: solid;
}
.person-experience.edu ~ .person-experience.edu,
.person-experience.job ~ .person-experience.job {
    border-top-style: none;
}

.person-experience-title {
    padding: 5vh 0;
    border-top-style: solid;
    border-bottom-style: solid;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    @include media(">=smallDesktop") {
        font-size: $big-font;
    }
    @include media(">=tablet", "<smallDesktop") {
        font-size: $x-big-font;
    }
    @include media("<tablet") {
        font-size: $xx-big-font;
    }
    
    font-weight: bold;
    font-style: italic;
}

#person-skills-container {
    display: flex;
    justify-content: center;
    width: 100%;
    @include media(">=smallDesktop") {
        flex-direction: row;
        .person-skills {
            width: 50%;
            grid-template-columns: min-content auto;
        }
        .person-skills:first-child {
            border-style: solid solid solid none;
            border-right-width: 1px;
        }
        
        .person-skills:last-child {
            border-style: solid none solid solid;
            border-left-width: 1px;
        }
    }
    @include media("<smallDesktop") {
        flex-direction: column;
        .person-skills {
            grid-template-columns: 1fr 2fr;
            justify-items: center;
        }
    }
}

.person-skills:last-child {
    border-bottom-style: solid;
}
.person-skills {
    display: grid;
    row-gap: 2vh;
    padding: #{"max(5vh, 5vw)"} 0;
    align-items: center;
    justify-content: center;
    
    border-top-style: solid;
}


.person-skills > .icon {
    display: flex;
    justify-content: start;
}

.person-skill-name {
    display: flex;
    justify-content: start;
    padding: 0 #{"max(1vh, 1vw)"};
}


.person-experience-institution {
    display: flex;
    align-items: center;
    .icon > img,
    .icon > a > img {
        @include media('<=bigPhone') { padding: 0 #{'max(3vh, 3vw)'}; }
        @include media('>bigPhone', '<=tablet') { padding: #{'max(2vh, 2vw)'};}
    }
}
