$x-small-font: 0.8rem;
$small-font: 1rem;
$medium-font: 1.5rem;
$big-font: 1.5rem;
$x-big-font: 2rem;
$xx-big-font: 2rem;

@font-face {
  font-family: 'Roboto Mono';
  src: url('fonts/roboto_condensed_macroman/RobotoCondensed-Regular-webfont.eot');
  src: url('fonts/roboto_condensed_macroman/RobotoCondensed-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/roboto_condensed_macroman/RobotoCondensed-Regular-webfont.woff') format('woff'),
       url('fonts/roboto_condensed_macroman/RobotoCondensed-Regular-webfont.ttf') format('truetype'),
       url('fonts/roboto_condensed_macroman/RobotoCondensed-Regular-webfont.svg#roboto_condensedregular') format('svg');
  font-weight: normal;
  font-style: normal;
}