$x-small-font: 0.8rem;
$small-font: 1rem;
$medium-font: 1.5rem;
$big-font: 1.5rem;
$x-big-font: 2rem;
$xx-big-font: 3rem;

@font-face {
  font-family: 'Roboto Mono';
  src: url('fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}