#games > div {
    min-height: 90vh;
    border-bottom-style: solid;
}

#games > div:last-child {
    border-bottom-style: hidden;
}

#games > div > div > h1 {
    margin: 0;
    padding: 3vh 0;
}

#games {
    border-bottom-style: solid;
    @include media('<=tablet') { padding: 0 10vw 5vh;  }
    @include media('>tablet', '<=desktop') { padding: 0 15vw 5vh;  }
    @include media('>desktop') { padding: 0 20vw 0vh; }
}
.games {
    display: flex;
    padding: 5vh 0;
    @include media('<=desktop') { flex-direction: column-reverse; }
    @include media('>desktop') { flex-direction: row; }

    div {
        display: flex;
        flex-direction: column;

        @include media(">desktop") { 
            justify-content: start;
            align-items: flex-end;
            width: 50%;
        }
        a, a > img {
            @include media('<=phone') { width: #{"min(70vh, 70vw)"}; }
            @include media('>phone', '<=tablet') { width: 100%; }
            @include media('>tablet', '<=desktop') { width: #{"min(70vh, 70vw)"}; }
            @include media('>desktop') {
                width: #{"min(50vh, 50vw)"};
            }
            height: auto;
        }
    }
}
