header {
    height: 10vh;
    top: 0;
    width: 100%;
    background: $base-color;
    position: fixed;
    transition: top 0.2s ease-in-out;
    border-bottom-style: solid;
}

#header-button-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    
    .header-button {
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        width: 25%;
        transition: 0.2s ease-in-out;
    }

    .header-button:hover {
        transition: 0.2s ease-in-out;
    }
}