header {
    height: 10vh;
    top: 0;
    width: 100%;
    background: $base-color;
    position: fixed;
    transition: top 0.2s ease-in-out;
    border-bottom-style: solid;
    z-index: 1;
}

#header-button-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    
    .header-button {
        transition: top 1s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        width: 50%;
        transition: 0.2s ease-in-out;
        .icon {
            height: 32px;
            width: 32px;
            margin-right: 16px;
            img {
                border: none;
                height: 100%;
                width: 100%;
            }

        }
        animation: fadeIn 1s ease-in 0s 1 backwards;
    }

    .header-button-active {
        color: $base-color;
        background-color: $font-color;
    }


    #person-button.header-button-inactive > .icon > img {
        background: url(/assets/icons/32px-house-white.png) no-repeat;
    }
    
    #games-button.header-button-inactive > .icon > img {
        background: url(/assets/icons/32px-joypad-white.png) no-repeat;
    }
    
    #cv-button.header-button-inactive > .icon > img {
        background: url(/assets/icons/32px-wrench-white.png) no-repeat;
    }

    .header-button-inactive {
        color: $font-color;
        background-color: $base-color;
    }
    
    #person-button.header-button-active > .icon > img {
        background: url(/assets/icons/32px-house-inverse.png) no-repeat;
    }
    
    #games-button.header-button-active > .icon > img {
        background: url(/assets/icons/32px-joypad-inverse.png) no-repeat;
    }
    
    #cv-button.header-button-active > .icon > img {
        background: url(/assets/icons/32px-wrench-inverse.png) no-repeat;
    }

    .header-button:hover {
        transition: 0.2s ease-in-out;
    }
}