#overlay {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s cubic-bezier();
    z-index: 2;
}

.panel {
    height: #{"max(20rem, 50vh)"};
    width: #{"max(20rem, 50vw)"};
    color: #1a1d45;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.panel-text {
    padding: 2vh 4vw;
}

#panel-buttons-container {
    display: flex;
    justify-content: space-evenly;
    transition: top 0.2s ease-in-out;   
}

.panel-buttons {
    background-color: #1a1d45;
    color: #b8b8b8;
    float: left;
    border: none;
    text-decoration: inherit;
    text-align: center;
    outline: none;
    cursor: pointer;
}

.panel-buttons:hover {
    box-shadow: none;
}