$base-color: #1a1d45;
$font-color: #ffffff;
$link-color: #e26e00;

$x-small-font: 1rem;
$small-font: 2rem;
$medium-font: #{'max(1vh, 1vw)'};
$big-font: #{'max(2vh, 2vw)'};
$x-big-font: #{'max(3vh, 3vw)'};
$xx-big-font: #{'max(4vh, 4vw)'};

@import './scss/_fonts.scss';
@import './scss/dist/_include_media.scss';
@import './scss/_header.scss';
@import './scss/_about.scss';
@import './scss/_games.scss';
@import './scss/_cv.scss';
@import './scss/_overlay.scss';

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100%;
    color: $font-color;
    background: $base-color;
    font-family: 'Roboto Mono';
    overflow-x: hidden;
    box-sizing: border-box;
}

h2, body {
    @include media('<=tablet') { font-size: $x-big-font; }
    @include media('>tablet', '<=desktop') { font-size: $big-font; }
    @include media('>desktop') { font-size: $medium-font; }
}

a {
    color: $link-color;
}


button {
    font-family: 'Roboto Mono';
    font-weight: bolder;
}

div {
    border-width: 2px;
}

h2 {
    margin: 0;
}


img {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

main {
    margin-top: 10vh;
    height: auto;
}

#about,
#games,
#cv-container
{
    border-bottom-style: solid;
    @include media('<=tablet') { padding: #{'min(1vh, 1vw)'} 10vw 5vh;  }
    @include media('>tablet', '<=desktop') { padding: #{'min(1vh, 1vw)'} 15vw 5vh;  }
    @include media('>desktop') { padding: #{'min(1vh, 1vw)'} 20vw 0vh; }
}

/* Icons and containers */
.icon > img,
.icon > a > img {
    @include media('<=bigPhone') { width: #{'max(4vh, 4vw)'};}
    @include media('>bigPhone', '<=tablet') { width: #{'max(4vh, 4vw)'};}
    @include media('>tablet', '<=desktop') { width: #{'max(3vh, 3vw)'}; }
    @include media('>desktop') { width: 3rem; }
    padding: 0 #{'max(1vh, 1vw)'};
    height: auto;
    display: flex;
    align-content: center;
    justify-items: center;
}